* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Poppins", sans-serif;
  user-select: none;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  justify-content: space-between;
  min-width: 100swh;
  background-image: radial-gradient(#a8cca6, #caa6cc);
  padding: 20px 60px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0px 0px; */
}

header .logo img {
  object-fit: scale-down;
  max-height: 200px;
  filter: drop-shadow(0 0 rgb(5, 7, 20));
  max-width: 200px;
}
header nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}
nav ul li a {
  text-decoration: none;
  font-size: clamp(1rem, 0.75rem + 0.8vw, 1rem);
  color: #fff;
  font-weight: 500;
}
.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 100%;
  /* min-height: 100%; */
  margin-top: auto;
  margin-bottom: auto;
  justify-content: center;
  /* flex: 1; */
}
.content .carosel {
  display: flex;
  width: 100%;
  align-items: center;
  max-width: 1000px;
  justify-content: center;
  height: 100%;

  align-self: center;
}
.content .carosel ul ::-webkit-scrollbar {
  display: none;
}

.content .carosel ul > .showing {
  opacity: 0.5;
}
.content .carosel ul {
  display: flex;
  /* padding: 0 20px; */
  align-items: center;
  /* justify-content: center; */
  /* flex: 1; */
  min-width: 100%;
  max-width: 700px;
  height: 100%;
  /* gap:20px; */
  list-style: none;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  overflow-y: hidden;
  scrollbar-width: none;
}
.carosel ul ::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  background-color: #fff;
  top: 50%;
  /* transform: translateY(50%,50%); */
  z-index: -100;
}
.carosel ul li {
  max-width: 100%;
  height: 100%;
  z-index: 100;

  max-width: 700px;
  min-width: 100%;
  display: flex;
  padding: 20px;
  /* margin-left: 40px; */
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}
.carosel ul .car_img {
  /* max-width: 700px; */
  display: flex;
  align-items: center;
  justify-content: center;
  max-height: 100%;
  min-height: 100%;
  width: 600px;
  min-width: 100%;

  /* transform: rotate(-5deg); */
}
.carosel ul .car_img img {
  max-width: 100%;
  max-height: 90%;
  min-width: 100%;
  object-fit: contain;
  z-index: 100;
  transform: rotate(-10deg);
  height: 220px;
}

.carosel .arrow_left button,
.carosel .arrow_right button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: none;
}
.carosel .arrow_left {
  transform: rotate(180deg);
}
.indicators {
  align-self: flex-start;

  /* justify-self: flex-end; */
}
.indicators .number {
  font-family: "League Gothic", sans-serif;
  font-size: 5em;
  color: #fff;
  letter-spacing: 6px;
}
.indicators ul {
  list-style: none;
  display: flex;
  gap: 4px;
}
.indicators ul li {
  width: 50px;
  height: 5px;
  background-color: #beff1b;
  border-radius: 5px;
}
.indicators ul .active {
  background-color: #ffffff;
}
